/*
/* MODAL WINDOW
/*-----------------------------------------------------*/

body.modal-active {
	overflow: hidden;
}
html.touch body.modal-active {
	position: fixed; /* needed for mobile / touch */
}

script[type="text/template"] {
	display: none;
	visibility: hidden;
}

a.btn-closeX, a.lnk-closeX {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ccc;
	border: 2px solid #010101;
	color: #010101;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
}
a.btn-closeX:focus, a.btn-closeX:hover,
a.lnk-closeX:focus, a.lnk-closeX:hover {
	color: #fff;
	background: #666;
}

#modaloverlay {
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	z-index: 10;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	transition: opacity 0.2s, visibility 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
#modaloverlay.active {
	/*display: block;*/
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	transition: opacity 0.2s, visibility 0.2s;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	transition-delay: 0;
}

.modalwindow {
	display: none;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	padding: 40px 0 20px 0;
	position: fixed;
	z-index: 11;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	transition: opacity 0.2s, visibility 0.2s;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	transition-delay: 0;
}
.modalwindow.active {
	/*display: block;*/
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	transition: opacity 0.2s, visibility 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
	.modalwindow a.btn-closeX,
	.modalwindow a.lnk-closeX {
		position: absolute;
		right: 2px;
		top: 2px;
	}
	.modalwindow .modalwindow-content {
		max-height: calc(100vh - 100px);
		padding: 0 20px;
		overflow-y: auto;
		position: relative;
	}

/* Mobile */
@media (max-width: 767px) {

	.modalwindow {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		min-width: 300px;
		min-height: 300px;
		left: 10px; right: 10px;
		top: 10px; bottom: 10px;
	}
		.modalwindow .modalwindow-content {
			width: 100%;
			height: 100%;
		}

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

	.modalwindow {
		width: 480px;
		min-height: 240px;
		max-height: calc(100% - 40px);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.modalwindow.modal-small {
		width: 320px;
	}
	.modalwindow.modal-wide {
		width: 600px;
	}

}

/* Desktop */
@media (min-width: 1024px) {

	.modalwindow {
		width: 600px;
		min-height: 240px;
		max-height: calc(100% - 40px);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.modalwindow.modal-small {
		width: 480px;
	}
	.modalwindow.modal-wide {
		width: 800px;
	}

}
