/*
/* MODAL WINDOW
/*-----------------------------------------------------*/

a.btn-closeX, a.lnk-closeX {
	display: inline-block;
	padding: 4px 12px;
	background: #ccc;
	border: 2px solid #010101;
	color: #010101;
	font-weight: bold;
	text-decoration: none;
}
a.btn-closeX:focus, a.btn-closeX:hover,
a.lnk-closeX:focus, a.lnk-closeX:hover {
	color: #fff;
	background: #666;
}

.modal-target {display: none;}

#modaloverlay {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 8;
}

.modalwindow {
	display: none;
	width: 320px;
	border: 2px solid #000;
	background: #fff;
	position: fixed;
	z-index: 10;
}
.modalwindow.modal-wide {
	width: 320px;
}
	.modalwindow .modalwindow-content {
		min-height: 200px;
		padding: 36px 20px 20px 20px;
	}
	.modalwindow a.btn-closeX,
	.modalwindow a.lnk-closeX {
		position: absolute;
		right: -8px;
		top: -8px;
	}


@media (min-width: 768px) {

	.modalwindow {
		width: 480px;
	}
	.modalwindow.modal-wide {
		width: 600px;
	}

}


@media (min-width: 1024px) {

	.modalwindow {
		width: 600px;
	}
	.modalwindow.modal-wide {
		width: 800px;
	}

}

